/* Styling for the body of the page */
body {
    margin: 0;
    padding: 0;
    /* Image by Freepik */
    background-image: url('../../public/img/wall-with-sticky-notes.jpg');
}

/* Styling for app container */
.appContainer {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    top: 0;
    min-height: 100vh;
}

/* Styling for main header */
.mainHeader{
    font-size: 4rem;
    font-family: 'Alegreya Sans SC', Arial, Helvetica, sans-serif;
    color: #444545;
    margin-bottom:50px;
}

.mainHeaderLink{
    text-decoration: none;
}

/* Styling for header container */
.headerContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Styles for header line */
.headerLine {
    border-top: 10px;
    border: solid 1px gainsboro;
    width: 100%; 
    margin:25px; 
}

/* Styles for addTodoButton and calendar button */
.addTodoBtn, .viewCalendarBtn, .overviewBtn {
    align-self: center;
    background-color: #d1989d;
    background-image: none;
    background-position: 0 100%;
    background-repeat: repeat no-repeat;
    background-size: 5px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style:groove;
    border-color:#d1989d;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color:#fdfcfe;
    cursor: pointer;
    display: inline-block;
    font-family: 'Figtree', Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 10px;
}

.addTodoBtn:hover,
.viewCalendarBtn:hover,
.overviewBtn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 3px, 0);
}

.addTodoBtn:focus,
.viewCalendarBtn:focus,
.overviewBtn:focus {
    background-color: #444545;
    color: #fdfcfe;
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

/* Styles for search bar */
.searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    transform: translate(-3%, -3%);
    transition: all 1s;
    width:50px;
    height: 50px;
    background: #d1989d;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid #d1989d;
    padding: 5px;
    position: relative;
    overflow: hidden;
}

.searchInput {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1.4rem;
    font-family: 'Figtree', Arial, Helvetica, sans-serif;
    border-radius: 20px;
    padding: 0 20px;
}

.searchForm .fa {
    box-sizing: border-box;
    padding: 10px;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #fdfcfe;
    text-align: center;
    font-size: 1.4rem;
    transition: all 0.5s;
}

.searchForm:hover {
    width: 250px;
    cursor: pointer;
}

.searchForm:hover input {
    display: block;
}

.searchForm:hover .fa {
    background: #07051a;
    color: white;
}

/* Styling for removed todo text */
.removedTodoText {
    background-color: #fb662b;
    color: #fdfcfe;
    padding: 10px;
    margin-top: 50px;
    border-radius: 2px;
    text-align: center;
    border: 1px solid #787777;
    font-size: 1.6rem;
    font-family: 'Figtree', Arial, Helvetica, sans-serif;
}

.removedTodoText {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styling for loading container */
.loadingContainer {
    margin-top: 50px;
}

/* Styling for night mode toggle */
.nightModeButtonWrapper {
    position: absolute;
    right: 20px;
}

@media only screen and (max-width: 600px) {
    body {
        background-image: none;
    }

    .mainHeader {
        font-size: 2.5rem;
    }

    .addTodoBtn,
    .viewCalendarBtn,
    .overviewBtn,
    .searchForm {
        padding: 0.2rem 0.2rem;
        font-size: 0.6rem;
        margin: 0;
            
    }

    .searchForm {
        width: 25px;
        height: 25px;
    }

    .searchForm:hover {
        width: 100px;
    }

    .searchInput {
        font-size: 0.75rem;
        border-radius: 10px;
        padding: 0 10px;
        height: 20px;
        line-height: 20px;
    }

    .headerLine{
        width:100%;
    }

    .nightModeButtonWrapper {
      display: none
    }

}

@media only screen and (min-width: 601px) and (max-width: 1024px) {

    .mainHeader {
        font-size: 3rem;
    }

    .headerLine {
        width: 100%;
    }

    .addTodoBtn,
    .viewCalendarBtn,
    .overviewBtn {
        font-size: 1rem;
    }

    .searchForm {
        width: 40px;
        height: 40px;
        border: 3px solid #d1989d;
        padding: 5px;
    }

    .searchInput {
        height: 40px;
        line-height: 40px;
        font-size: 1rem;
        padding: 0 10px;
    }

    .searchForm:hover {
        width: 150px;
    }

    .nightModeButtonWrapper {
       display: none;
    }
}
