.rbcCalendar {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    height: 50vh;
}

.rbcEvent {
    border: none;
    padding: 4px;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.mainPageButton{
font-family: 'Poppins',
Arial,
Helvetica,
sans-serif;
font-size: 1.2 em;
color: #E9EEF0;
background-color: #051e45;
border: none;
border-radius: 5px;
cursor: pointer;
}