/* Styling for the item container */
.itemContainer {
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fdfcfe;
    position: relative;
}

/* Styling for the todo item */
.listItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Styling for the title container */
.titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Styling for the title */
.todoListTitle {
    font-weight: bold;
    font-size: 1.4em;
    font-family: 'Figtree', Arial, Helvetica, sans-serif;
    color: #545493;
}

/* Styling for the flexible space */
.flexibleSpace {
    flex-grow: 1;
}

/* Styling for button container */
.todoListBtnContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  
}

/* Styling for edit and delete buttons */
.editButton {
    background-color: transparent;
    color: #112044;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.2s;
}

.editButton:hover, 
.updateButton:hover {
    transform: scale(1.2);
}

.editButton i{
    font-size: 20px;
}
/* Styling for subattribute container */
.subattributeContainer {
    margin-top: 10px;
    border-top: 1px dashed #bcbbbb;
    padding-top: 10px;
    display: flex;
    flex-direction: wrap;
    align-items: center;
    text-align: center;
}

/* Styling for subattributes */
.subattribute {
    font-size: 1.2em;
    font-family: 'Figtree', Georgia, 'Times New Roman', Times, serif;
    color: #5d5a59;
    margin: 0 10px;
}

/* Styling for the editing block */
.editingBlock {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    padding: 16px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    position: relative;
    width: 100%;
    margin: -20px;
}

/* Styling for the input fields and select elements */
.inputFields,
.selectFields {
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 10px;
    flex-grow: 1;
    font-size: 1.2em;
    font-family: 'Figtree', Arial, Helvetica, sans-serif;
}

.editingBlock label {
    font-size: 1.2em;
    font-family: 'Figtree', Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

/* Styling for the button container */
.updateBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    align-items:flex-end;
    margin-bottom: 10px;
 
}

/* Styling for the "Cancel" and "Update" buttons */
.updateButton {
    background-color: #112044;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
}

