.overviewContainer {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    font-family: 'Figtree', Arial, Helvetica, sans-serif;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    bottom: 0;
    top: 0;
    min-height: 100vh;
    position:relative;
}

.buttonContainer {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.todoListPageButton {
    font-family: 'Figtree', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #E9EEF0;
    background-color: #051e45;
    border: 2px solid #fefefe;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
    position: absolute;
    left: 20px;
}

.todoListPageButton:hover {
    transform: scale(1.1);
}
.overviewContainer  h2 {
    margin: 20px 0px 50px 0px;
    color: #444545;
    font-family: 'Alegreya Sans SC', Arial, Helvetica, sans-serif;
    font-size: 4rem;
}

.overviewContainer h3 {
    font-size: 2rem;
}

.overviewSum {
    display: flex;
    justify-content: space-between;
}

.overviewBox {
    border: 1px solid #cdcbcb;
    padding: 10px;
    background-color: #4e689c;
    color:#f9f6ff;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transition: all 0.3s ease;
}

.completedTasks {
    font-size: 1.4rem;
    font-family: 'Figtree', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: auto 0;
    transition: font-size 0.3s ease, margin 0.3s ease;
}

.taskCount {
    font-size: 2rem;
    margin-top: 50px;
    transition: font-size 0.3s ease, margin 0.3s ease;
}

.overviewBox:hover {
    transform: scale(1.05);
}

.chartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.overviewContainer h3 {
    margin: 70px 0px 50px 0px;
}

.tooltip {
    width: 140px;
    background-color: #cccccc;
    font-size: 1.0rem;
    font-family: 'Figtree', Arial, Helvetica, sans-serif;
}

.cartesianGrid {
    stroke:#797878;
    stroke-dasharray: 5 5; 
}

.legendChart {
    text-align: center;
    margin: 0;
    padding: 10px;
}

.legendText {
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Figtree', Arial, Helvetica, sans-serif;
    color: #4e689c;    
}

.chartWrapper {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {

    .overviewContainer {
        font-size: 0.75rem;
    }

    .todoListPageButton {
        font-size: 0.6rem;
        left:5px;
    }

    .overviewContainer h2 {
        margin: 50px 0px;
        font-size: 2.5rem;
    }

    .overviewContainer h3 {
        font-size: 1.5rem;
    }

    .completedTasks {
        font-size: 1.2rem;
    }

    .taskCount {
        font-size: 1.8rem;
    }

    .tooltip {
        width: 100px;
        font-size: 0.75rem;
    }

    .chartWrapper {
        max-width: 100%;        
    }

    .legendText {
        font-size: 0.75rem;
    }
}    

@media only screen and (min-width: 601px) and (max-width: 1024px) {

    .todoListPageButton {
        font-size: 0.75rem;
    }

    .overviewContainer h2 {
        font-size: 3rem;
        margin-top: 50px;
    }

    .overviewContainer h3 {
        font-size: 2rem;
    }

    .completedTasks {
        font-size: 1.4rem;
    }

    .taskCount {
        font-size: 1.8rem;
    }

    .tooltip {
        width: 100px;
        font-size: 0.75rem;

    }

    .legendChart {
        text-align: center;
        margin: 0;
        padding: 10px;
    }

}