/* Styling for the item container */
.itemContainer {
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fdfcfe;
    position: relative;
}

/* Styling for the todo item */
.listItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Styling for the title container */
.titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Styling for the title */
.todoListTitle {
    font-weight: bold;
    font-size: 1.8rem;
    font-family: 'Figtree', Arial, Helvetica, sans-serif;
    color: #545493;
    margin: 0 0 0 10px;
    vertical-align: middle;
}

.completedTitle {
    text-decoration: line-through;
}

/* Styling for the checkbox */
.checkbox {
    margin-right: 10px;
    cursor: pointer;
    /* hide the default checkbox */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* custom checkbox */
    width: 20px;
    height: 20px;
    border: 1px solid #545493;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 1;
}

/* Style the custom checkbox when checked */
.checkbox:checked::before {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    color: #545493;
}

/* Style the custom checkbox when not checked */
.checkbox::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #545493;
    border-radius: 4px;
}

/* Hover effect for the custom checkbox */
.checkbox:hover {
    background-color: #f7f7f7;
}

/* Remove the default outline on focus for the checkbox */
.checkbox:focus {
    outline: none;
}

/* Styling for the flexible space */
.flexibleSpace {
    flex-grow: 1;
}

/* Styling for button container */
.todoListBtnContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  
}

/* Styling for edit and delete buttons */
.editButton {
    background-color: transparent;
    color: #112044;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.2s;
    font-size: 1.4rem;
}

.editButton:hover, 
.updateButton:hover {
    transform: scale(1.2);
}

.editButton i{
    font-size: 1.4rem;
}
/* Styling for subattribute container */
.subattributeContainer {
    margin-top: 10px;
    border-top: 1px dashed #bcbbbb;
    padding-top: 10px;
    display: flex;
    flex-direction: wrap;
    align-items: center;
    text-align: center;
}

/* Styling for subattributes */
.subattribute {
    font-size: 1.4rem;
    font-family: 'Figtree', Arial, Helvetica, sans-serif;
    color: #5d5a59;
    margin: 0 10px;
}

/* Styling for the editing block */
.editingBlock {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    padding: 16px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    position: relative;
    width: 100%;
    margin: -20px;
}

/* Styling for the input fields and select elements */
.inputFields,
.selectFields {
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 10px;
    flex-grow: 1;
    font-size: 1.4rem;
    font-family: 'Figtree', Arial, Helvetica, sans-serif;
}

.editingBlock label {
    font-size: 1.4rem;
    font-family: 'Figtree', Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

/* Styling for the button container */
.updateBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    align-items:flex-end;
    margin-bottom: 10px;
 
}

/* Styling for the "Cancel" and "Update" buttons */
.updateButton {
    background-color: #112044;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 1.2rem;
    font-family: 'Figtree', Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 600px) {
    .itemContainer {
        background-color: #fdf5d6;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 2px auto;
        max-width: 100%;
        padding: 3px;
        box-sizing: border-box; 
    }

    .todoListTitle {
        font-size: 0.9rem;
        margin: 0;
    }

    .subattributeContainer {
        padding-top: 5px;
        display: flex;
        flex-direction:wrap;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }

    .subattribute {
        font-size: 0.75rem;
        margin: 0;    
    }

    .editButton i {
        font-size: 1rem;
    }

    .todoListBtnContainer {
        justify-content: center;
        margin-top: 5px;
    }

    

    .flexibleSpace {
        flex-grow: 0;
    }
    
    .checkbox {
        width:12.5px;
        height: 12.5px;
    }

    .checkbox:checked::before {
        font-size: 0.8rem;
    }
   
    .editingBlock {
        background-color: none;
        padding: 16px;
    }

    .inputFields,
    .selectFields {
        font-size: 0.85rem;
    }

    .editingBlock label {
        font-size: 0.85rem;
    }

    .updateButton {
        font-size: 0.8rem;
        padding: 4px 8px;
    }                               
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .itemContainer {
        padding: 5px;
        margin: 5px 5px;
        position: relative;
    }

    .todoListTitle {
        font-size: 1.4rem;
    }

    .editButton i {
        font-size: 1.2rem;
    }

    .subattribute {
        font-size: 1rem;
    }

    .inputFields,
    .selectFields {
        font-size: 1.2rem;
    }

    .editingBlock label {
        font-size: 1.2rem;
    }

    .updateButton {
        font-size: 1rem;
    }

}

